.app {
  background-image: url(./images/covid-world-map.png);
}
.logo{
  text-align: center;
  margin-top: 20px;
}
.MuiBottomNavigationAction-label{
  color: rgba(255, 255, 255, 0.966);
}
.country{
  margin-top: 40px;
}
.WithStyles\(ForwardRef\(TableCell\)\)-head-14{ 
  background: #ef842f  !important
}

.MuiAppBar-colorPrimary{
  background-color: #2a2a289b !important;
}
.chart{
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  font-size: 40px;
}

@media screen and (max-width: 414px){
  .chart{
    width: 350px;
    margin: 150px auto;
    font-size: 24px;
  }
  
}

